@import "colors";

.baseGrid {
	display: grid;
	grid-template-columns: 240px 760px 360px;
	grid-template-rows: 40px 60px auto;
	margin: 20px;
	font-family: 'proxima_novaregular', sans-serif;
	font-size: 15px;

	a {
		text-decoration: none;
		color: black;
	}


	h1,
	.h1
	{
		grid-column: 1/2;
		grid-row: 1/3;

		align-self: center;
		justify-self: center;

		svg {
			width: 80px;
		}
	}

	.ok {
		color: $okText;
	}

	.ng {
		color: $ngText;
	}

	nav {
		grid-column: 1/2;
		grid-row: 3/4;

		> a,
		> span
		{
			display: grid;
			grid-template-columns: auto 48px;
			grid-template-rows: 1fr 1fr;
			height: 90px;
			padding-left: 32px;
			border-top-left-radius: 45px;
			border-bottom-left-radius: 45px;

			.a {
				font-weight: bold;
				grid-row: 1/2;
				grid-column: 1/2;
				align-self: end;
			}

			.b {
				color: $grayText;
				grid-row: 2/3;
				grid-column: 1/2;
			}

			svg {
				grid-row: 1/3;
				grid-column: 2/3;
				justify-self: left;
				align-self: center;
				width: 24px;

				path {
					fill: $graySVG;
				}
			}

			&.active {
				background-color: white;

				.a {
					color: $blue;
				}

				svg {
					path {
						fill: $blue;
					}
				}
			}
		}
	}

	.submenu {
		grid-column: 2/4;
		grid-row: 1/2;

		display: flex;

		a,
		span
		{
			height: 40px;
			padding: 0 32px;
			line-height: 40px;

			&.active {
				background-color: white;
				color: $blue;
			}
		}
	}

	.page {
		grid-column: 2/3;
		grid-row: 2/4;
		background-color: white;
		min-height: 80vh;
		padding: 48px 96px 48px 48px;

		h3 {
			margin-bottom: 48px;
		}

		&.both {
			grid-column: 2/4;
		}

		&.smallerPadding {
			padding: 48px 0 48px 48px;
		}
	}

	.help {
		grid-column: 3/4;
		grid-row: 2/4;
		background-color: white;
		padding: 36px;

		h3 {
			border-left: 1px solid $grayLine;
			padding-left: 36px;
			margin-bottom: 0;
		}

		.inner {

			border-left: 1px solid $grayLine;
			padding-bottom: 64px;

			div {
				padding: 24px 16px 16px 16px;
				margin: 0 17px;
				border-bottom: 1px solid $grayLine;

				p {
					color: $grayText;
				}
			}
		}


	}

	input[type="submit"],
	.btn
	{
		display: inline-block;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		padding: 0 22px;

		&.outline {
			border: 1px solid $blue;
			background-color: white;
			color: $blue;
			font-weight: bold;

		&.danger {
				border: 1px solid $red;
				color: $red;
			}

			&[disabled] {
				border: 1px solid $grayLine;
				color: $grayText;
			}
		}

		&.primary {
			border: 1px solid $blue;
			background-color: $blue;
			color: white;

			&[disabled] {
				border: 1px solid $grayLine;
				background-color: $grayLine;
				color: $grayText;
			}
		}
	}

	form {
		.row {

			margin-top: 18px;

			label {
				display: block;
				margin-bottom: 18px;
			}

			input[type="text"] {
				background-color: $blueBg;
				border-radius: 4px;
				border: none;
				height: 38px;
				line-height: 38px;
				padding: 0 16px;
				width: 100%;
			}

			select {
				background-color: $blueBg;
				border-radius: 4px;
				border: none;
				height: 38px;
				line-height: 38px;
				padding: 0 16px;
				min-width: 100%;

				option {
					line-height: 38px;
					margin-bottom: 1px solid $grayLine;
				}
			}

			&.controls {
				display: flex;
				justify-content: flex-end;
			}
		}
	}

	.withSections {
		display: grid;
		grid-template-columns: 360px auto;
		grid-template-rows: auto;

		.a {
			grid-row: 1/2;
			grid-column: 1/2;
		}

		.b {
			grid-row: 1/2;
			grid-column: 2/3;
			border-left: 1px solid $grayLine;
			padding: 0 50px;
		}
	}

	.subsubmenu {
		border-bottom: 1px solid $grayLine;
		display: flex;

		a {
			flex: 1;
			display: inline-block;
			line-height: 50px;
			height: 50px;
			text-align: center;
			border-left: 1px solid $grayLine;
			font-weight: bold;

			&:first-of-type {
				border-left: none;
			}

			&.active {
				color: $blue;
			}
		}
	}

	.levels {

		ol {
			list-style-type: none;
			padding-left: 0;
			margin: 0;
		}

		> ol > li {
			background-image: url("folder.svg");
			background-repeat: no-repeat;
			padding-left: 36px;

			&.selected {
				background-image: url("folder-selected.svg");
			}
		}

		> ol ol {
			margin-left: -36px;
		}

		> ol > li li {
			background-image: url("bullet.svg");
			background-repeat: no-repeat;
			padding-left: 72px;

			&.selected {
				background-image: url("bullet-selected.svg");
			}
		}

		li {
			line-height: 36px;
			margin-bottom: 0;

			&.selected {
				> span, > a {
					color: $blue;
				}
			}
		}

		button {
			display: inline-block;
			width: 15px; height: 15px;
			margin: 0 9px;
			border: 0;
			background-color: transparent;
			cursor: pointer;
			outline: none;

			&.edit {
				background-image: url("pencil.svg");
			}
			&.remove {
				background-image: url("close.svg");
			}
		}
	}

	.sectionsOverview {
		> div {
			display: grid;
			grid-template-rows: auto auto;
			grid-template-columns: 1fr 1fr 1fr;
			border-bottom: 1px solid $grayLine;

			.name {
				grid-row: 1/2;
				grid-column: 1/4;
				font-weight: bolder;
				font-size: 22px;
				margin: 32px 0 20px 0;
			}

			.levelCount,
			.membersCount,
			.pagesCount
			{
				color: $grayText;
				font-size: 14px;
				margin-bottom: 21px;
			}

			.levelCount {
				grid-row: 2/3;
				grid-column: 1/2;
			}

			.membersCount {
				grid-row: 2/3;
				grid-column: 2/3;
			}

			.pagesCount {
				grid-row: 2/3;
				grid-column: 3/4;
			}
		}
	}

	.todo {
		background-color: limegreen;
	}

	.onePage {
		height: 56px; line-height: 56px;
		padding-left: 10px;
		border-bottom: 1px solid $grayLine;

		input {
			width: 24px;
			height: 24px;
			border: 1px solid $grayLine;
			border-radius: 0;

			&::before {
				width: 24px;
				height: 24px;
			}
		}
	}


	form.pages {
		.inner {
			max-height: 430px;
			overflow-y: scroll;
		}

		&.loading {
			.inner {
				min-height: 110px;
				background-image: url('/wp-includes/images/spinner-2x.gif');
				background-repeat: no-repeat;
				background-position: 50% 50%;
			}
		}
	}

	.emptyIndex {
		margin-top: 130px;
		display: grid;
		grid-template-rows: 70px 115px 48px;
		grid-template-columns: 1fr;
		align-items: center;
		justify-items: center;

		img {
			grid-row: 1/2;
			grid-column: 1/2;
			width: 100px;
		}

		p {
			grid-row: 2/3;
			grid-column: 1/2;
			text-align: center;
		}

		a {
			grid-row: 3/4;
			grid-column: 1/2;
		}
	}
}

// popup styles
.swal2-actions {
	.removeConfirmButton {
		background-color: $red!important;
		height: 40px;
		line-height: 40px;
		border-radius: 20px!important;
		padding: 0 22px;
	}

	.removeDenyButton {
		background-color: $blue!important;
		height: 40px;
		line-height: 40px;
		border-radius: 20px!important;
		padding: 0 22px;
	}
}




