@import "colors";

.fapiShortcodeLoginForm {
	width: 350px!important;
	padding: 10px!important;

	.f-m-row {

		label, a {
			display: inline-block!important;
			font-weight: normal!important;
			font-size: 14px!important;
			color: #4c5567!important;
			margin: 14px 0 0 0!important;
			text-decoration: none;
		}

		a:hover {
			text-decoration: underline;
		}

		input[type="text"],
		input[type="password"]
		{
			border: 1px solid $grayNext!important;
			height: 45px!important;
			padding: 10px!important;
			line-height: 45px!important;
			width: 100%!important;
			background-color: #ffffff!important;
			border-radius: 0.25rem!important;
			margin: 0!important;
		}

		input[type="submit"]
		{
			display: block!important;
			background-color: $blue!important;
			color: white!important;
			width: 100%!important;
			border-radius: 0.25rem!important;
			text-align: center!important;
			text-decoration: none!important;
			font-size: 15px!important;
			padding: 14px!important;
			border: none!important;

			&:hover {
				background-color: white!important;
				color: $blue!important;
				border: 2px solid $blue!important;
			}
		}

		&.controls {
			margin-top: 25px!important;
			text-align: center!important;
		}
	}
}

.fapiShortcodeUser {
	width: 200px!important; height: 40px!important;
	display: grid!important;
	grid-template-columns: 32px auto!important;
	grid-template-rows: 20px 20px!important;
	position: relative!important;

	.i {
		grid-row: 1/3!important;
		grid-column: 1/2!important;
		display: flex!important;
		align-content: center!important;

		svg {
			width: 24px!important;
		}
	}

	.h {
		grid-row: 1/2!important;
		grid-column: 2/3!important;
		font-weight: bold!important;
		font-size: 14px!important;
	}

	.l {
		grid-row: 2/3!important;
		grid-column: 2/3!important;
		font-size: 14px!important;
	}

	.f-m-submenu {
		display: block!important;
		position: absolute!important;
		top: 40px!important;
		left:0!important;
		width: 200px!important;
		border-top: 1px solid $grayLine!important;
		text-align: right!important;
		background-color: white!important;

		a {
			font-size: 14px!important;
			color: $red!important;
			text-decoration: none!important;
			margin-right: 10px!important;
		}
	}

	&:hover {
		.f-m-submenu {
			display: block!important;
		}
	}

	&.notLogged {
		grid-template-rows: 40px!important;

		.i {
			grid-row: 1/2 !important;
		}

		.l {
			grid-row: 1/2!important;
			grid-column: 2/3!important;
		}
	}
}

.FapiLevelSelection {
	font-family: 'Roboto', sans-serif!important;
	min-height: 100vh!important;
	display: flex!important;
	justify-content: center!important;

	#Wrapper {
		margin-top: 100px!important;
		max-width: 980px!important;

		h1 {
			text-align: center!important;
			font-size: 50px!important;
		}

		> p {
			text-align: center!important;
			font-size: 22px!important;
			color: #6b7280!important;
		}

		.pages {
			margin-top: 40px!important;
			display: flex!important;
			gap: 40px!important;
			flex-wrap: wrap!important;

			> div {
				width: 300px!important;
				display: grid!important;
				grid-template-columns: auto!important;
				grid-template-rows: 164px auto auto 100px!important;
				border-radius: 4px!important;
				box-shadow: 2px 2px 2px $grayBg!important;

				.thumbPlaceholder {
					width: 300px!important;
					height: 164px!important;
					background-color: $grayBg!important;
					border-top-left-radius: 4px!important;
					border-top-right-radius: 4px!important;
				}

				img {
					border-top-left-radius: 4px!important;
					border-top-right-radius: 4px!important;
				}

				h3 {
					text-align: center!important;
					margin: 20px 16px!important;
				}

				p {
					margin: 0 16px!important;
					text-align: center!important;
					color: #6b7280!important;
				}

				.actions a {
					display: block!important;
					background-color: $blue!important;
					color: white!important;
					width: 198px!important; height: 46px!important;
					line-height: 46px!important;
					border-radius: 4px!important;
					text-align: center!important;
					text-decoration: none!important;
					margin: ((100px-46px) / 2) auto!important;
					font-size: 15px!important;
				}
			}
		}

	}
}
