@import "colors";

.fapiMembership {
	margin-bottom: 1rem;

	th.fields {
		max-width: 150px;
		width: 150px;

		.a {
			color: $grayText;
			font-size: 10px;
			display: block;
		}

		input {
			margin: 0;
		}
	}

	tbody td {
		display: flex;

		.oneLevel {
			flex: 1;
			margin: 16px 32px 16px 16px;
			display: grid;
			grid-template-columns: 24px auto;
			grid-template-rows: 32px;


			input {
				flex: 1;
				margin: 0 1px;
			}

			label {
				flex: 1;
				margin-bottom: -2px;
			}
		}
	}
}